mat-toolbar {
  justify-content: space-between;

  .shop-name {
    &:hover {
      cursor: pointer;
    }
  }

  .auth {
    display: flex;
    gap: 20px;


    &__text {
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      border-radius: 4px;
      padding: 0 10px;
    }
  }
}
