.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 48px;
  
    .filters {}
  
    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
  
      mat-card {
        background: #ffffff;
        color: #535353;
        box-shadow: 3px 3px 4px 1px #a9a9a9;
        transition: transform 0.5s;
        transform: scale(1);
  
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          margin: 0;
          margin: auto;
          margin-bottom: 16px;
        }
  
        &:hover {
          cursor: pointer;
          transform: scale(1.03);
  
        }
  
        .description {
          &:hover {
            color: #000000;
            text-decoration: underline;
          }
        }
  
        .price {
          color: black;
  
          .numbers {
            font-size: 16px;
          }
        }
      }
    }
  }  