<main class="container">
  <div class="filters">
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
    <div>filter1</div>
  </div>
  <div class="list">
    <mat-card *ngFor="let product of productList">
      <img mat-card-image src="assets/images/{{product.img}}.png">
      <mat-card-content>
        <p class="name">{{product.name}}</p>
        <p class="description">{{product.description}}</p>
        <p class="price"><span class="numbers">{{product.price}}</span> $</p>
      </mat-card-content>
    </mat-card>
  </div>
</main>