.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h3 {
    text-shadow: 11px 7px 6px #a9a9a9;
  }

  h1 {
    font-size: 144px;
    line-height: 144px;
  }

  h3 {
    font-size: 48px;
    line-height: 48px;

    &.link {
        cursor: pointer;
        text-decoration: underline;
        color: #378f46;
        text-shadow: 11px 7px 6px #a9a9a9;
    }
  }
}
